#officialProjects {
  margin-top: 15px;
}

#officialProjects h3 {
  margin-bottom: 10px;
}

#project1 {
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
}

.appLinks {
  font-family: "Bellefair", serif;
  padding: 5px;
}

h2 {
  text-decoration: underline;
}

#aboutProject {
  margin-top: 20px;
  margin-left: 100px;
}

h4 {
  margin-top: 30px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
}

li {
  margin-top: 20px;
  font-family: "Bellefair", serif;
}
